<ul>
    <%@movies.each do |movie|%>
    <li><%= movie.title %>
        <ul>
            <li><b>Total gross:</b> <%= number_to_currency(movie.total_gross) %></li>
            <li><b>Rating:</b> <%= movie.rating %></li>
        </ul>
    </li>
    <%end%>
</ul>